	<!-- Fixed Sidebar Left -->

	<div class="fixed-sidebar">
		<div class="fixed-sidebar-left sidebar--small" id="sidebar-left">
			<a href="#" class="logo">
				<img src="/img/logo.png" alt="eTasked">
			</a>

			<div class="mCustomScrollbar" data-mcs-theme="dark">
				<ul class="left-menu">
					<li>
						<a href="#" class="js-sidebar-open">
							<svg class="etsk-menu-icon left-menu-icon" data-toggle="tooltip" data-placement="right" title="" data-original-title="OPEN MENU"><use xlink:href="/icons/icons.svg#etsk-menu-icon"></use></svg>
						</a>
					</li>
					<li>
						<a href="/posts">
							<svg class="etsk-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right" title="" data-original-title="NEWSFEED"><use xlink:href="/icons/icons.svg#etsk-newsfeed-icon"></use></svg>
						</a>
					</li>
					<li>
						<a href="/mentors">
							<svg class="etsk-star-icon left-menu-icon" data-toggle="tooltip" data-placement="right" title="" data-original-title="MENTORS"><use xlink:href="/icons/icons.svg#etsk-star-icon"></use></svg>
						</a>
					</li>
					<li>
						<a href="#">
							<svg class="etsk-happy-faces-icon left-menu-icon" data-toggle="tooltip" data-placement="right" title="" data-original-title="GROUPS"><use xlink:href="/icons/icons.svg#etsk-happy-faces-icon"></use></svg>
						</a>
					</li>
					<li>
						<a href="#">
							<svg class="etsk-calendar-icon left-menu-icon" data-toggle="tooltip" data-placement="right" title="" data-original-title="EVENTS"><use xlink:href="/icons/icons.svg#etsk-calendar-icon"></use></svg>
						</a>
					</li>
					<li>
						<a href="/profile">
							<svg class="etsk-stats-icon left-menu-icon" data-toggle="tooltip" data-placement="right" title="" data-original-title="ACCOUNT"><use xlink:href="/icons/icons.svg#etsk-stats-icon"></use></svg>
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="fixed-sidebar-left sidebar--large" id="sidebar-left-1">
			<a href="/profile" class="logo">
				<img src="/img/logo.png" alt="eTasked">
				<h6 class="logo-title">eTasked</h6>
			</a>

			<div class="mCustomScrollbar" data-mcs-theme="dark">
				<ul class="left-menu">
					<li>
						<a href="#" class="js-sidebar-open">
							<svg class="etsk-close-icon left-menu-icon"><use xlink:href="/icons/icons.svg#etsk-close-icon"></use></svg>
							<span class="left-menu-title">Collapse Menu</span>
						</a>
					</li>
					<li>
						<a href="/posts">
							<svg class="etsk-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right" title="" data-original-title="NEWSFEED"><use xlink:href="/icons/icons.svg#etsk-newsfeed-icon"></use></svg>
							<span class="left-menu-title">Newsfeed</span>
						</a>
					</li>
					<li>
						<a href="/mentors">
							<svg class="etsk-star-icon left-menu-icon" data-toggle="tooltip" data-placement="right" title="" data-original-title="FAV PAGE"><use xlink:href="/icons/icons.svg#etsk-star-icon"></use></svg>
							<span class="left-menu-title">Mentors</span>
						</a>
					</li>
					<li>
						<a href="#">
							<svg class="etsk-happy-faces-icon left-menu-icon" data-toggle="tooltip" data-placement="right" title="" data-original-title="Connection GROUPS"><use xlink:href="/icons/icons.svg#etsk-happy-faces-icon"></use></svg>
							<span class="left-menu-title">Groups</span>
						</a>
					</li>
					<li>
						<a href="/events">
							<svg class="etsk-calendar-icon left-menu-icon" data-toggle="tooltip" data-placement="right" title="" data-original-title="CALENDAR AND EVENTS"><use xlink:href="/icons/icons.svg#etsk-calendar-icon"></use></svg>
							<span class="left-menu-title">Events</span>
						</a>
					</li>
					<li>
						<a href="/profile">
							<svg class="etsk-stats-icon left-menu-icon" data-toggle="tooltip" data-placement="right" title="" data-original-title="Account Stats"><use xlink:href="/icons/icons.svg#etsk-stats-icon"></use></svg>
							<span class="left-menu-title">Account Stats</span>
						</a>
					</li>
				</ul>

				<div class="profile-completion">

					<div class="skills-item">
						<div class="skills-item-info">
							<span class="skills-item-title">Profile Completion</span>
							<span class="skills-item-count"><span class="count-animate" data-speed="1000" data-refresh-interval="50" data-to="76" data-from="0"></span><span class="units">25%</span></span>
						</div>
						<div class="skills-item-meter">
							<span class="skills-item-meter-active bg-primary" style="width: 25%"></span>
						</div>
					</div>

					<span>Complete <a href="#">your profile</a> so people can know more about you!</span>

				</div>
			</div>
		</div>
	</div>

	<!-- ... end Fixed Sidebar Left -->

	<!-- Fixed Sidebar Left -->

	<div class="fixed-sidebar fixed-sidebar-responsive">

		<div class="fixed-sidebar-left sidebar--small" id="sidebar-left-responsive">
			<a href="#" class="logo js-sidebar-open">
				<img src="/img/logo.png" alt="eTasked">
			</a>

		</div>

		<div class="fixed-sidebar-left sidebar--large" id="sidebar-left-1-responsive">
			<a href="#" class="logo">
				<img src="/img/logo.png" alt="eTasked">
				<h6 class="logo-title">eTasked</h6>
			</a>

			<div class="mCustomScrollbar" data-mcs-theme="dark">

				<div class="control-block">
					<div class="author-page author vcard inline-items">
						<div class="author-thumb">
			
							<img src="{{user.avatar}}" alt="author" style="width:100%;" class="avatar">
							
							<span class="icon-status online"></span>
						</div>
						<a href="#" class="author-name fn">
							<div class="author-title">
								{{user.first_name}} {{user.last_name}} <svg class="etsk-dropdown-arrow-icon">
									<use xlink:href="/icons/icons.svg#etsk-dropdown-arrow-icon"></use></svg>
							</div>
							<span class="author-subtitle">Software Engineer</span>
						</a>
					</div>
				</div>

				<div class="ui-block-title ui-block-title-small">
					<h6 class="title">MAIN SECTIONS</h6>
				</div>

				<ul class="left-menu">
					<li>
						<a href="#" class="js-sidebar-open">
							<svg class="etsk-close-icon left-menu-icon"><use xlink:href="/icons/icons.svg#etsk-close-icon"></use></svg>
							<span class="left-menu-title">Collapse Menu</span>
						</a>
					</li>
					<li>
						<a href="/posts">
							<svg class="etsk-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right" title="" data-original-title="NEWSFEED"><use xlink:href="/icons/icons.svg#etsk-newsfeed-icon"></use></svg>
							<span class="left-menu-title">Newsfeed</span>
						</a>
					</li>
					<li>
						<a href="/mentors">
							<svg class="etsk-star-icon left-menu-icon" data-toggle="tooltip" data-placement="right" title="" data-original-title="FAV PAGE"><use xlink:href="/icons/icons.svg#etsk-star-icon"></use></svg>
							<span class="left-menu-title">Mentors</span>
						</a>
					</li>
					<li>
						<a href="/profile">
							<svg class="etsk-happy-faces-icon left-menu-icon" data-toggle="tooltip" data-placement="right" title="" data-original-title="Connection GROUPS"><use xlink:href="/icons/icons.svg#etsk-happy-faces-icon"></use></svg>
							<span class="left-menu-title">Groups</span>
						</a>
					</li>
					<li>
						<a href="#">
							<svg class="etsk-calendar-icon left-menu-icon" data-toggle="tooltip" data-placement="right" title="" data-original-title="CALENDAR AND EVENTS"><use xlink:href="/icons/icons.svg#etsk-calendar-icon"></use></svg>
							<span class="left-menu-title">Events</span>
						</a>
					</li>
					<li>
						<a href="#">
							<svg class="etsk-stats-icon left-menu-icon" data-toggle="tooltip" data-placement="right" title="" data-original-title="Account Stats"><use xlink:href="/icons/icons.svg#etsk-stats-icon"></use></svg>
							<span class="left-menu-title">Account</span>
						</a>
					</li>
				</ul>

				<div class="ui-block-title ui-block-title-small">
					<h6 class="title">ACCOUNT</h6>
				</div>

				<ul class="account-settings">
					<li>
						<a href="#">

							<svg class="etsk-menu-icon"><use xlink:href="/icons/icons.svg#etsk-menu-icon"></use></svg>

							<span>Profile Settings</span>
						</a>
					</li>
					<li>
						<a href="/mentors">
							<svg class="etsk-star-icon left-menu-icon" data-toggle="tooltip" data-placement="right" title="" data-original-title="FAV PAGE"><use xlink:href="/icons/icons.svg#etsk-star-icon"></use></svg>

							<span>Find Mentors</span>
						</a>
					</li>
					<li>
						<a href="/">
							<svg class="etsk-logout-icon"><use xlink:href="/icons/icons.svg#etsk-logout-icon"></use></svg>

							<span>Log Out</span>
						</a>
					</li>
				</ul>

				<div class="ui-block-title ui-block-title-small">
					<h6 class="title">About eTasked</h6>
				</div>

				<ul class="about-eTasked">
					<li>
						<a href="#">
							<span>Careers</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span>Contact</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span>Terms & Conditions</span>
						</a>
					</li>
				</ul>

			</div>
		</div>
	</div>

	<!-- ... end Fixed Sidebar Left -->

	<!-- Fixed Sidebar Right -->

	<div class="fixed-sidebar right">
		<div class="fixed-sidebar-right sidebar--small" id="sidebar-right">

			<div class="mCustomScrollbar" data-mcs-theme="dark">
				<ul class="chat-users">
					<li class="inline-items">
						<div class="author-thumb">
							<img alt="author" src="img/avatar67-sm.jpg" class="avatar">
							<span class="icon-status online"></span>
						</div>
					</li>
					<li class="inline-items">
						<div class="author-thumb">
							<img alt="author" src="img/avatar62-sm.jpg" class="avatar">
							<span class="icon-status online"></span>
						</div>
					</li>

					<li class="inline-items">
						<div class="author-thumb">
							<img alt="author" src="img/avatar68-sm.jpg" class="avatar">
							<span class="icon-status online"></span>
						</div>
					</li>

					<li class="inline-items">
						<div class="author-thumb">
							<img alt="author" src="img/avatar69-sm.jpg" class="avatar">
							<span class="icon-status away"></span>
						</div>
					</li>

					<li class="inline-items">
						<div class="author-thumb">
							<img alt="author" src="img/avatar70-sm.jpg" class="avatar">
							<span class="icon-status disconected"></span>
						</div>
					</li>
					<li class="inline-items">
						<div class="author-thumb">
							<img alt="author" src="img/avatar64-sm.jpg" class="avatar">
							<span class="icon-status online"></span>
						</div>
					</li>
					<li class="inline-items">
						<div class="author-thumb">
							<img alt="author" src="img/avatar50-sm.jpg" class="avatar">
							<span class="icon-status online"></span>
						</div>
					</li>
					<li class="inline-items">
						<div class="author-thumb">
							<img alt="author" src="img/avatar72-sm.jpg" class="avatar">
							<span class="icon-status away"></span>
						</div>
					</li>
					<li class="inline-items">
						<div class="author-thumb">
							<img alt="author" src="img/avatar50-sm.jpg" class="avatar">
							<span class="icon-status status-invisible"></span>
						</div>
					</li>
					<li class="inline-items">
						<div class="author-thumb">
							<img alt="author" src="img/avatar72-sm.jpg" class="avatar">
							<span class="icon-status away"></span>
						</div>
					</li>
					<li class="inline-items">

						<div class="author-thumb">
							<img alt="author" src="img/avatar55-sm.jpg" class="avatar">
							<span class="icon-status online"></span>
						</div>
					</li>
				</ul>
			</div>

			<div class="search-connection inline-items">
				<a href="#" class="js-sidebar-open">
					<svg class="etsk-menu-icon"><use xlink:href="icons/icons.svg#etsk-menu-icon"></use></svg>
				</a>
			</div>

			<a href="#" class="etsk-chat inline-items">
				<svg class="etsk-chat---messages-icon"><use xlink:href="icons/icons.svg#etsk-chat---messages-icon"></use></svg>
			</a>

		</div>

		<div class="fixed-sidebar-right sidebar--large" id="sidebar-right-1">

			<div class="mCustomScrollbar" data-mcs-theme="dark">

				<div class="ui-block-title ui-block-title-small">
					<a href="#" class="title">Connections</a>
					<a href="#">Settings</a>
				</div>

				<ul class="chat-users">
					<li class="inline-items">

						<div class="author-thumb">
							<img alt="author" src="img/avatar67-sm.jpg" class="avatar">
							<span class="icon-status online"></span>
						</div>

						<div class="author-status">
							<a href="#" class="h6 author-name">Brooke Anderson</a>
							<span class="status">ONLINE</span>
						</div>

						<div class="more"><svg class="etsk-three-dots-icon"><use xlink:href="icons/icons.svg#etsk-three-dots-icon"></use></svg>

							<ul class="more-icons">
								<li>
									<svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION" class="etsk-comments-post-icon"><use xlink:href="icons/icons.svg#etsk-comments-post-icon"></use></svg>
								</li>

								<li>
									<svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION" class="etsk-add-to-conversation-icon"><use xlink:href="icons/icons.svg#etsk-add-to-conversation-icon"></use></svg>
								</li>

								<li>
									<svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT" class="etsk-block-from-chat-icon"><use xlink:href="icons/icons.svg#etsk-block-from-chat-icon"></use></svg>
								</li>
							</ul>

						</div>

					</li>
					<li class="inline-items">

						<div class="author-thumb">
							<img alt="author" src="img/avatar62-sm.jpg" class="avatar">
							<span class="icon-status online"></span>
						</div>

						<div class="author-status">
							<a href="#" class="h6 author-name">Kelsey Gilstrap</a>
							<span class="status">AT WORK!</span>
						</div>

						<div class="more"><svg class="etsk-three-dots-icon"><use xlink:href="icons/icons.svg#etsk-three-dots-icon"></use></svg>

							<ul class="more-icons">
								<li>
									<svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION" class="etsk-comments-post-icon"><use xlink:href="icons/icons.svg#etsk-comments-post-icon"></use></svg>
								</li>

								<li>
									<svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION" class="etsk-add-to-conversation-icon"><use xlink:href="icons/icons.svg#etsk-add-to-conversation-icon"></use></svg>
								</li>

								<li>
									<svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT" class="etsk-block-from-chat-icon"><use xlink:href="icons/icons.svg#etsk-block-from-chat-icon"></use></svg>
								</li>
							</ul>

						</div>

					</li>

					<li class="inline-items">

						<div class="author-thumb">
							<img alt="author" src="img/avatar68-sm.jpg" class="avatar">
							<span class="icon-status online"></span>
						</div>

						<div class="author-status">
							<a href="#" class="h6 author-name">Brooke Anderson</a>
							<span class="status">ONLINE</span>
						</div>

						<div class="more"><svg class="etsk-three-dots-icon"><use xlink:href="icons/icons.svg#etsk-three-dots-icon"></use></svg>

							<ul class="more-icons">
								<li>
									<svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION" class="etsk-comments-post-icon"><use xlink:href="icons/icons.svg#etsk-comments-post-icon"></use></svg>
								</li>

								<li>
									<svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION" class="etsk-add-to-conversation-icon"><use xlink:href="icons/icons.svg#etsk-add-to-conversation-icon"></use></svg>
								</li>

								<li>
									<svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT" class="etsk-block-from-chat-icon"><use xlink:href="icons/icons.svg#etsk-block-from-chat-icon"></use></svg>
								</li>
							</ul>

						</div>

					</li>

					<li class="inline-items">


						<div class="author-thumb">
							<img alt="author" src="img/avatar69-sm.jpg" class="avatar">
							<span class="icon-status away"></span>
						</div>

						<div class="author-status">
							<a href="#" class="h6 author-name">Josh Wilson</a>
							<span class="status">AWAY</span>
						</div>

						<div class="more"><svg class="etsk-three-dots-icon"><use xlink:href="icons/icons.svg#etsk-three-dots-icon"></use></svg>

							<ul class="more-icons">
								<li>
									<svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION" class="etsk-comments-post-icon"><use xlink:href="icons/icons.svg#etsk-comments-post-icon"></use></svg>
								</li>

								<li>
									<svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION" class="etsk-add-to-conversation-icon"><use xlink:href="icons/icons.svg#etsk-add-to-conversation-icon"></use></svg>
								</li>

								<li>
									<svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT" class="etsk-block-from-chat-icon"><use xlink:href="icons/icons.svg#etsk-block-from-chat-icon"></use></svg>
								</li>
							</ul>

						</div>

					</li>

					<li class="inline-items">

						<div class="author-thumb">
							<img alt="author" src="img/avatar70-sm.jpg" class="avatar">
							<span class="icon-status disconected"></span>
						</div>

						<div class="author-status">
							<a href="#" class="h6 author-name">Rai Lee</a>
							<span class="status">OFFLINE</span>
						</div>

						<div class="more"><svg class="etsk-three-dots-icon"><use xlink:href="icons/icons.svg#etsk-three-dots-icon"></use></svg>

							<ul class="more-icons">
								<li>
									<svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION" class="etsk-comments-post-icon"><use xlink:href="icons/icons.svg#etsk-comments-post-icon"></use></svg>
								</li>

								<li>
									<svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION" class="etsk-add-to-conversation-icon"><use xlink:href="icons/icons.svg#etsk-add-to-conversation-icon"></use></svg>
								</li>

								<li>
									<svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT" class="etsk-block-from-chat-icon"><use xlink:href="icons/icons.svg#etsk-block-from-chat-icon"></use></svg>
								</li>
							</ul>

						</div>


					</li>
				</ul>

				<div class="ui-block-title ui-block-title-small">
					<a href="mentors" class="title">MENTORS</a>
					<a href="#">Settings</a>
				</div>

				<ul class="chat-users">
					<li class="inline-items">

						<div class="author-thumb">
							<img alt="author" src="img/avatar64-sm.jpg" class="avatar">
							<span class="icon-status online"></span>
						</div>

						<div class="author-status">
							<a href="#" class="h6 author-name">Melony Oter</a>
							<span class="status">ONLINE</span>
						</div>

						<div class="more"><svg class="etsk-three-dots-icon"><use xlink:href="icons/icons.svg#etsk-three-dots-icon"></use></svg>

							<ul class="more-icons">
								<li>
									<svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION" class="etsk-comments-post-icon"><use xlink:href="icons/icons.svg#etsk-comments-post-icon"></use></svg>
								</li>

								<li>
									<svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION" class="etsk-add-to-conversation-icon"><use xlink:href="icons/icons.svg#etsk-add-to-conversation-icon"></use></svg>
								</li>

								<li>
									<svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT" class="etsk-block-from-chat-icon"><use xlink:href="icons/icons.svg#etsk-block-from-chat-icon"></use></svg>
								</li>
							</ul>

						</div>
					</li>
				</ul>


				<div class="ui-block-title ui-block-title-small">
					<a href="#" class="title">CONTACTS</a>
					<a href="#">Settings</a>
				</div>

				<ul class="chat-users">
					<li class="inline-items">

						<div class="author-thumb">
							<img alt="author" src="img/avatar60-sm.jpg" class="avatar">
							<span class="icon-status online"></span>
						</div>

						<div class="author-status">
							<a href="#" class="h6 author-name">Sammi Jackson</a>
							<span class="status">ONLINE</span>
						</div>

						<div class="more"><svg class="etsk-three-dots-icon"><use xlink:href="icons/icons.svg#etsk-three-dots-icon"></use></svg>

							<ul class="more-icons">
								<li>
									<svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION" class="etsk-comments-post-icon"><use xlink:href="icons/icons.svg#etsk-comments-post-icon"></use></svg>
								</li>

								<li>
									<svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION" class="etsk-add-to-conversation-icon"><use xlink:href="icons/icons.svg#etsk-add-to-conversation-icon"></use></svg>
								</li>

								<li>
									<svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT" class="etsk-block-from-chat-icon"><use xlink:href="icons/icons.svg#etsk-block-from-chat-icon"></use></svg>
								</li>
							</ul>

						</div>


					</li>
					<li class="inline-items">

						<div class="author-thumb">
							<img alt="author" src="img/avatar72-sm.jpg" class="avatar">
							<span class="icon-status away"></span>
						</div>

						<div class="author-status">
							<a href="#" class="h6 author-name">Adam Jacobini</a>
							<span class="status">AWAY</span>
						</div>

						<div class="more"><svg class="etsk-three-dots-icon"><use xlink:href="icons/icons.svg#etsk-three-dots-icon"></use></svg>

							<ul class="more-icons">
								<li>
									<svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION" class="etsk-comments-post-icon"><use xlink:href="icons/icons.svg#etsk-comments-post-icon"></use></svg>
								</li>

								<li>
									<svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION" class="etsk-add-to-conversation-icon"><use xlink:href="icons/icons.svg#etsk-add-to-conversation-icon"></use></svg>
								</li>

								<li>
									<svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT" class="etsk-block-from-chat-icon"><use xlink:href="icons/icons.svg#etsk-block-from-chat-icon"></use></svg>
								</li>
							</ul>

						</div>

					</li>
					<li class="inline-items">

						<div class="author-thumb">
							<img alt="author" src="img/avatar48-sm.jpg" class="avatar">
							<span class="icon-status status-invisible"></span>
						</div>

						<div class="author-status">
							<a href="#" class="h6 author-name">Jordan Drake</a>
							<span class="status">INVISIBLE</span>
						</div>

						<div class="more"><svg class="etsk-three-dots-icon"><use xlink:href="icons/icons.svg#etsk-three-dots-icon"></use></svg>

							<ul class="more-icons">
								<li>
									<svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION" class="etsk-comments-post-icon"><use xlink:href="icons/icons.svg#etsk-comments-post-icon"></use></svg>
								</li>

								<li>
									<svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION" class="etsk-add-to-conversation-icon"><use xlink:href="icons/icons.svg#etsk-add-to-conversation-icon"></use></svg>
								</li>

								<li>
									<svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT" class="etsk-block-from-chat-icon"><use xlink:href="icons/icons.svg#etsk-block-from-chat-icon"></use></svg>
								</li>
							</ul>

						</div>
					</li>
					<li class="inline-items">

						<div class="author-thumb">
							<img alt="author" src="img/avatar72-sm.jpg" class="avatar">
							<span class="icon-status away"></span>
						</div>

						<div class="author-status">
							<a href="#" class="h6 author-name">Adam Jacobini</a>
							<span class="status">AWAY</span>
						</div>

						<div class="more"><svg class="etsk-three-dots-icon"><use xlink:href="icons/icons.svg#etsk-three-dots-icon"></use></svg>

							<ul class="more-icons">
								<li>
									<svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION" class="etsk-comments-post-icon"><use xlink:href="icons/icons.svg#etsk-comments-post-icon"></use></svg>
								</li>

								<li>
									<svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION" class="etsk-add-to-conversation-icon"><use xlink:href="icons/icons.svg#etsk-add-to-conversation-icon"></use></svg>
								</li>

								<li>
									<svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT" class="etsk-block-from-chat-icon"><use xlink:href="icons/icons.svg#etsk-block-from-chat-icon"></use></svg>
								</li>
							</ul>

						</div>
					</li>
					<li class="inline-items">

						<div class="author-thumb">
							<img alt="author" src="img/avatar60-sm.jpg" class="avatar">
							<span class="icon-status online"></span>
						</div>

						<div class="author-status">
							<a href="#" class="h6 author-name">Sammi Jackson</a>
							<span class="status">ONLINE</span>
						</div>

						<div class="more"><svg class="etsk-three-dots-icon"><use xlink:href="icons/icons.svg#etsk-three-dots-icon"></use></svg>

							<ul class="more-icons">
								<li>
									<svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION" class="etsk-comments-post-icon"><use xlink:href="icons/icons.svg#etsk-comments-post-icon"></use></svg>
								</li>

								<li>
									<svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION" class="etsk-add-to-conversation-icon"><use xlink:href="icons/icons.svg#etsk-add-to-conversation-icon"></use></svg>
								</li>

								<li>
									<svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT" class="etsk-block-from-chat-icon"><use xlink:href="icons/icons.svg#etsk-block-from-chat-icon"></use></svg>
								</li>
							</ul>

						</div>
					</li>
				</ul>

			</div>

			<div class="search-connection inline-items">
				<form class="form-group">
					<input class="form-control" placeholder="Search Connections..." value="" type="text">
				</form>

				<a href="#" class="settings">
					<svg class="etsk-settings-icon"><use xlink:href="icons/icons.svg#etsk-settings-icon"></use></svg>
				</a>

				<a href="#" class="js-sidebar-open">
					<svg class="etsk-close-icon"><use xlink:href="icons/icons.svg#etsk-close-icon"></use></svg>
				</a>


			</div>

			<a href="#" class="etsk-chat inline-items">

				<h6 class="etsk-chat-title">messenger</h6>
				<svg class="etsk-chat---messages-icon"><use xlink:href="icons/icons.svg#etsk-chat---messages-icon"></use></svg>
			</a>

		</div>
	</div>

	<!-- ... end Fixed Sidebar Right -->

	<!-- Fixed Sidebar Right -->

	<div class="fixed-sidebar right fixed-sidebar-responsive">

		<div class="fixed-sidebar-right sidebar--small" id="sidebar-right-responsive">

			<a href="" class="etsk-chat inline-items js-chat-open">
				<svg class="etsk-chat---messages-icon"><use xlink:href="icons/icons.svg#etsk-chat---messages-icon"></use></svg>
			</a>

		</div>

	</div>

	<!-- ... end Fixed Sidebar Right -->

	<!-- Header -->

	<header class="header" id="site-header">

		<div class="page-title">
			<h6>etasked</h6>
		</div>

		<div class="header-content-wrapper">
			<form class="search-bar w-search notification-list connections-requests">
				<div class="form-group with-button">
					<input class="form-control js-user-search" placeholder="Search here people or pages..." type="text">
					<button>
					<svg class="etsk-magnifying-glass-icon"><use xlink:href="/icons/icons.svg#etsk-magnifying-glass-icon"></use></svg>
				</button>
				</div>
			</form>

			<a href="/mentors" class="link-find-connection">Find Mentors</a>

			<div class="control-block">

				<div class="control-icon more has-items">
					<svg class="etsk-happy-face-icon"><use xlink:href="/icons/icons.svg#etsk-happy-face-icon"></use></svg>
					<div class="label-avatar bg-blue">6</div>

					<div class="more-dropdown more-with-triangle triangle-top-center">
						<div class="ui-block-title ui-block-title-small">
							<h6 class="title">Connection REQUESTS</h6>
							<a href="#">Find Mentors</a>
							<a href="#">Settings</a>
						</div>

						<div class="mCustomScrollbar" data-mcs-theme="dark">
							<ul class="notification-list connections-requests">
								<li>
									<div class="author-thumb">
										<img src="/img/avatar55-sm.jpg" alt="author">
									</div>
									<div class="notification-event">
										<a href="#" class="h6 notification-connection">Leandra Miller</a>
										<span class="chat-message-item">Mutual Connection: Kelsey Gilstrap.</span>
									</div>
									<span class="notification-icon">
									<a href="#" class="accept-request">
										<span class="icon-add without-text">
											<svg class="etsk-happy-face-icon"><use xlink:href="/icons/icons.svg#etsk-happy-face-icon"></use></svg>
										</span>
									</a>

									<a href="#" class="accept-request request-del">
										<span class="icon-minus">
											<svg class="etsk-happy-face-icon"><use xlink:href="/icons/icons.svg#etsk-happy-face-icon"></use></svg>
										</span>
									</a>

									</span>

									<div class="more">
										<svg class="etsk-three-dots-icon"><use xlink:href="/icons/icons.svg#etsk-three-dots-icon"></use></svg>
									</div>
								</li>

								<li>
									<div class="author-thumb">
										<img src="/img/avatar56-sm.jpg" alt="author">
									</div>
									<div class="notification-event">
										<a href="#" class="h6 notification-connection">Matt Deitz</a>
										<span class="chat-message-item">4 Connections in common.</span>
									</div>
									<span class="notification-icon">
									<a href="#" class="accept-request">
										<span class="icon-add without-text">
											<svg class="etsk-happy-face-icon"><use xlink:href="/icons/icons.svg#etsk-happy-face-icon"></use></svg>
										</span>
									</a>

									<a href="#" class="accept-request request-del">
										<span class="icon-minus">
											<svg class="etsk-happy-face-icon"><use xlink:href="/icons/icons.svg#etsk-happy-face-icon"></use></svg>
										</span>
									</a>

									</span>

									<div class="more">
										<svg class="etsk-three-dots-icon"><use xlink:href="/icons/icons.svg#etsk-three-dots-icon"></use></svg>
									</div>
								</li>

								<li class="accepted">
									<div class="author-thumb">
										<img src="/img/avatar57-sm.jpg" alt="author">
									</div>
									<div class="notification-event">
										You and <a href="#" class="h6 notification-connection">Brooke Anderson</a> just connected. Write on <a href="#" class="notification-link">her wall</a>.
									</div>
									<span class="notification-icon">
									<svg class="etsk-happy-face-icon"><use xlink:href="/icons/icons.svg#etsk-happy-face-icon"></use></svg>
								</span>

									<div class="more">
										<svg class="etsk-three-dots-icon"><use xlink:href="/icons/icons.svg#etsk-three-dots-icon"></use></svg>
										<svg class="etsk-little-delete"><use xlink:href="/icons/icons.svg#etsk-little-delete"></use></svg>
									</div>
								</li>

								<li>
									<div class="author-thumb">
										<img src="/img/avatar58-sm.jpg" alt="author">
									</div>
									<div class="notification-event">
										<a href="#" class="h6 notification-connection">Beau Fatuji</a>
										<span class="chat-message-item">9 Connections in common.</span>
									</div>
									<span class="notification-icon">
									<a href="#" class="accept-request">
										<span class="icon-add without-text">
											<svg class="etsk-happy-face-icon"><use xlink:href="/icons/icons.svg#etsk-happy-face-icon"></use></svg>
										</span>
									</a>

									<a href="#" class="accept-request request-del">
										<span class="icon-minus">
											<svg class="etsk-happy-face-icon"><use xlink:href="/icons/icons.svg#etsk-happy-face-icon"></use></svg>
										</span>
									</a>

									</span>

									<div class="more">
										<svg class="etsk-three-dots-icon"><use xlink:href="/icons/icons.svg#etsk-three-dots-icon"></use></svg>
									</div>
								</li>

							</ul>
						</div>

						<a href="#" class="view-all bg-blue">Check all your Events</a>
					</div>
				</div>

				<div class="control-icon more has-items">
					<svg class="etsk-chat---messages-icon"><use xlink:href="/icons/icons.svg#etsk-chat---messages-icon"></use></svg>
					<div class="label-avatar bg-purple">2</div>

					<div class="more-dropdown more-with-triangle triangle-top-center">
						<div class="ui-block-title ui-block-title-small">
							<h6 class="title">Chat / Messages</h6>
							<a href="#">Mark all as read</a>
							<a href="#">Settings</a>
						</div>

						<div class="mCustomScrollbar" data-mcs-theme="dark">
							<ul class="notification-list chat-message">
								<li class="message-unread">
									<div class="author-thumb">
										<img src="/img/avatar59-sm.jpg" alt="author">
									</div>
									<div class="notification-event">
										<a href="#" class="h6 notification-connection">Lexi Descrybe</a>
										<span class="chat-message-item">Hi David! It’s Lexi Descrybe, I just wanted to let you know that we have to reschedule...</span>
										<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">4 hours ago</time></span>
									</div>
									<span class="notification-icon">
									<svg class="etsk-chat---messages-icon"><use xlink:href="/icons/icons.svg#etsk-chat---messages-icon"></use></svg>
								</span>
									<div class="more">
										<svg class="etsk-three-dots-icon"><use xlink:href="/icons/icons.svg#etsk-three-dots-icon"></use></svg>
									</div>
								</li>

								<li>
									<div class="author-thumb">
										<img src="/img/avatar60-sm.jpg" alt="author">
									</div>
									<div class="notification-event">
										<a href="#" class="h6 notification-connection">Bruce Mills</a>
										<span class="chat-message-item">Great, I’ll see you tomorrow!.</span>
										<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">4 hours ago</time></span>
									</div>
									<span class="notification-icon">
									<svg class="etsk-chat---messages-icon"><use xlink:href="/icons/icons.svg#etsk-chat---messages-icon"></use></svg>
								</span>

									<div class="more">
										<svg class="etsk-three-dots-icon"><use xlink:href="/icons/icons.svg#etsk-three-dots-icon"></use></svg>
									</div>
								</li>
								<li>
									<div class="author-thumb">
										<img src="/img/avatar61-sm.jpg" alt="author">
									</div>
									<div class="notification-event">
										<a href="#" class="h6 notification-connection">Melony Oter</a>
										<span class="chat-message-item">We’ll have to check that at the office and see if the client is on board with...</span>
										<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 9:56pm</time></span>
									</div>
									<span class="notification-icon">
										<svg class="etsk-chat---messages-icon"><use xlink:href="/icons/icons.svg#etsk-chat---messages-icon"></use></svg>
									</span>
									<div class="more">
										<svg class="etsk-three-dots-icon"><use xlink:href="/icons/icons.svg#etsk-three-dots-icon"></use></svg>
									</div>
								</li>

								<li class="chat-group">
									<div class="author-thumb">
										<img src="/img/avatar11-sm.jpg" alt="author">
										<img src="/img/avatar12-sm.jpg" alt="author">
										<img src="/img/avatar13-sm.jpg" alt="author">
										<img src="/img/avatar10-sm.jpg" alt="author">
									</div>
									<div class="notification-event">
										<a href="#" class="h6 notification-connection">You, Colton Rapangani, Cameron Thwaits &amp; Beau Fatuji +3</a>
										<span class="last-message-author">Colton Rapangani:</span>
										<span class="chat-message-item">Sure great news!</span>
										<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">July 10th at 10:23am</time></span>
									</div>
									<span class="notification-icon">
										<svg class="etsk-chat---messages-icon"><use xlink:href="/icons/icons.svg#etsk-chat---messages-icon"></use></svg>
									</span>
									<div class="more">
										<svg class="etsk-three-dots-icon"><use xlink:href="/icons/icons.svg#etsk-three-dots-icon"></use></svg>
									</div>
								</li>
							</ul>
						</div>

						<a href="#" class="view-all bg-purple">View All Messages</a>
					</div>
				</div>

				<div class="control-icon more has-items">
					<svg class="etsk-thunder-icon"><use xlink:href="/icons/icons.svg#etsk-thunder-icon"></use></svg>

					<div class="label-avatar bg-primary">8</div>

					<div class="more-dropdown more-with-triangle triangle-top-center">
						<div class="ui-block-title ui-block-title-small">
							<h6 class="title">Notifications</h6>
							<a href="#">Mark all as read</a>
							<a href="#">Settings</a>
						</div>

						<div class="mCustomScrollbar" data-mcs-theme="dark">
							<ul class="notification-list">
								<li>
									<div class="author-thumb">
										<img src="/img/avatar62-sm.jpg" alt="author">
									</div>
									<div class="notification-event">
										<div><a href="#" class="h6 notification-connection">Sarah Johnson</a> commented on your new <a href="#" class="notification-link">profile status</a>.</div>
										<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">4 hours ago</time></span>
									</div>
									<span class="notification-icon">
										<svg class="etsk-comments-post-icon"><use xlink:href="/icons/icons.svg#etsk-comments-post-icon"></use></svg>
									</span>

									<div class="more">
										<svg class="etsk-three-dots-icon"><use xlink:href="/icons/icons.svg#etsk-three-dots-icon"></use></svg>
										<svg class="etsk-little-delete"><use xlink:href="/icons/icons.svg#etsk-little-delete"></use></svg>
									</div>
								</li>

								<li class="un-read">
									<div class="author-thumb">
										<img src="/img/avatar50-sm.jpg" alt="author">
									</div>
									<div class="notification-event">
										<div>You and <a href="#" class="h6 notification-connection">Liam Koch</a> just connected. Write on <a href="#" class="notification-link">his wall</a>.</div>
										<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">9 hours ago</time></span>
									</div>
									<span class="notification-icon">
										<svg class="etsk-happy-face-icon"><use xlink:href="/icons/icons.svg#etsk-happy-face-icon"></use></svg>
									</span>

									<div class="more">
										<svg class="etsk-three-dots-icon"><use xlink:href="/icons/icons.svg#etsk-three-dots-icon"></use></svg>
										<svg class="etsk-little-delete"><use xlink:href="/icons/icons.svg#etsk-little-delete"></use></svg>
									</div>
								</li>

								<li class="with-comment-photo">
									<div class="author-thumb">
										<img src="/img/avatar64-sm.jpg" alt="author">
									</div>
									<div class="notification-event">
										<div><a href="#" class="h6 notification-connection">Kelsey Gilstrap</a> commented on your <a href="#" class="notification-link">photo</a>.</div>
										<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 5:32am</time></span>
									</div>
									<span class="notification-icon">
										<svg class="etsk-comments-post-icon"><use xlink:href="/icons/icons.svg#etsk-comments-post-icon"></use></svg>
									</span>

									<div class="comment-photo">
										<img src="/img/comment-photo1.jpg" alt="photo">
										<span>“Such a lovely picture! I can't wait to see you...”</span>
									</div>

									<div class="more">
										<svg class="etsk-three-dots-icon"><use xlink:href="/icons/icons.svg#etsk-three-dots-icon"></use></svg>
										<svg class="etsk-little-delete"><use xlink:href="/icons/icons.svg#etsk-little-delete"></use></svg>
									</div>
								</li>

								<li>
									<div class="author-thumb">
										<img src="/img/avatar65-sm.jpg" alt="author">
									</div>
									<div class="notification-event">
										<div><a href="#" class="h6 notification-connection">Tom Smith</a> invited you to attend to his event FOCO Tech in <a href="#" class="notification-link">Fort Collins</a>.</div>
										<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">March 5th at 6:43pm</time></span>
									</div>
									<span class="notification-icon">
										<svg class="etsk-happy-face-icon"><use xlink:href="/icons/icons.svg#etsk-happy-face-icon"></use></svg>
									</span>

									<div class="more">
										<svg class="etsk-three-dots-icon"><use xlink:href="/icons/icons.svg#etsk-three-dots-icon"></use></svg>
										<svg class="etsk-little-delete"><use xlink:href="/icons/icons.svg#etsk-little-delete"></use></svg>
									</div>
								</li>

								<li>
									<div class="author-thumb">
										<img src="/img/avatar66-sm.jpg" alt="author">
									</div>
									<div class="notification-event">
										<div><a href="#" class="h6 notification-connection">James Summers</a> commented on your new <a href="#" class="notification-link">profile status</a>.</div>
										<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">March 2nd at 8:29pm</time></span>
									</div>
									<span class="notification-icon">
										<svg class="etsk-heart-icon"><use xlink:href="/icons/icons.svg#etsk-heart-icon"></use></svg>
									</span>

									<div class="more">
										<svg class="etsk-three-dots-icon"><use xlink:href="/icons/icons.svg#etsk-three-dots-icon"></use></svg>
										<svg class="etsk-little-delete"><use xlink:href="/icons/icons.svg#etsk-little-delete"></use></svg>
									</div>
								</li>
							</ul>
						</div>

						<a href="#" class="view-all bg-primary">View All Notifications</a>
					</div>
				</div>

				<div class="author-page author vcard inline-items more">
					<div class="author-thumb">
						<img alt="author" src="{{user.avatar}}" style="width:40px;">
						<span class="icon-status online"></span>
						<div class="more-dropdown more-with-triangle">
							<div class="mCustomScrollbar" data-mcs-theme="dark">
								<div class="ui-block-title ui-block-title-small">
									<h6 class="title">Your Account</h6>
								</div>

								<ul class="account-settings">
									<li>
										<a href="/profile">

											<svg class="etsk-menu-icon"><use xlink:href="/icons/icons.svg#etsk-menu-icon"></use></svg>

											<span>Profile Settings</span>
										</a>
									</li>
									<li>
										<a href="#">
											<svg class="etsk-star-icon left-menu-icon" data-toggle="tooltip" data-placement="right" title="" data-original-title="FAV PAGE"><use xlink:href="/icons/icons.svg#etsk-star-icon"></use></svg>

											<span>Find Mentors</span>
										</a>
									</li>
									<li>
										<a href="/auth/logout">
											<svg class="etsk-logout-icon"><use xlink:href="/icons/icons.svg#etsk-logout-icon"></use></svg>

											<span>Log Out</span>
										</a>
									</li>
								</ul>

								<div class="ui-block-title ui-block-title-small">
									<h6 class="title">Chat Settings</h6>
								</div>

								<ul class="chat-settings">
									<li>
										<a href="#">
											<span class="icon-status online"></span>
											<span>Online</span>
										</a>
									</li>
									<li>
										<a href="#">
											<span class="icon-status away"></span>
											<span>Away</span>
										</a>
									</li>
									<li>
										<a href="#">
											<span class="icon-status disconected"></span>
											<span>Disconnected</span>
										</a>
									</li>

									<li>
										<a href="#">
											<span class="icon-status status-invisible"></span>
											<span>Invisible</span>
										</a>
									</li>
								</ul>

								<div class="ui-block-title ui-block-title-small">
									<h6 class="title">Custom Status</h6>
								</div>

								<form class="form-group with-button custom-status">
									<input class="form-control" placeholder="" type="text" value="Software Engineer">

									<button class="bg-purple">
									<svg class="etsk-check-icon"><use xlink:href="/icons/icons.svg#etsk-check-icon"></use></svg>
								</button>
								</form>

								<div class="ui-block-title ui-block-title-small">
									<h6 class="title">About eTasked</h6>
								</div>

								<ul>
									<li>
										<a href="#">
											<span>Terms and Conditions</span>
										</a>
									</li>
									<li>
										<a href="#">
											<span>Careers</span>
										</a>
									</li>
									<li>
										<a href="#">
											<span>Contact</span>
										</a>
									</li>
								</ul>
							</div>

						</div>
					</div>
					<a href="#" class="author-name fn">
						<div class="author-title">
							{{user.first_name}} {{user.last_name}}<svg class="etsk-dropdown-arrow-icon"><use xlink:href="/icons/icons.svg#etsk-dropdown-arrow-icon"></use></svg>
						</div>
						<span class="author-subtitle">Software Engineer</span>
					</a>
				</div>

			</div>
		</div>

	</header>

	<!-- ... end Header -->

	<!-- Responsive Header -->

	<header class="header header-responsive" id="site-header-responsive">

		<div class="header-content-wrapper">
			<ul class="nav nav-tabs mobile-app-tabs" role="tablist">
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#request" role="tab">
						<div class="control-icon has-items">
							<svg class="etsk-happy-face-icon"><use xlink:href="/icons/icons.svg#etsk-happy-face-icon"></use></svg>
							<div class="label-avatar bg-blue">6</div>
						</div>
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#chat" role="tab">
						<div class="control-icon has-items">
							<svg class="etsk-chat---messages-icon"><use xlink:href="/icons/icons.svg#etsk-chat---messages-icon"></use></svg>
							<div class="label-avatar bg-purple">2</div>
						</div>
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#notification" role="tab">
						<div class="control-icon has-items">
							<svg class="etsk-thunder-icon"><use xlink:href="/icons/icons.svg#etsk-thunder-icon"></use></svg>
							<div class="label-avatar bg-primary">8</div>
						</div>
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#search" role="tab">
						<svg class="etsk-magnifying-glass-icon"><use xlink:href="/icons/icons.svg#etsk-magnifying-glass-icon"></use></svg>
						<svg class="etsk-close-icon"><use xlink:href="/icons/icons.svg#etsk-close-icon"></use></svg>
					</a>
				</li>
			</ul>
		</div>



		<div class="tab-content tab-content-responsive">

			<div class="tab-pane " id="request" role="tabpanel">

				<div class="mCustomScrollbar" data-mcs-theme="dark">
					<div class="ui-block-title ui-block-title-small">
						<h6 class="title">Connection Requests</h6>
						<a href="/mentors">Find Mentors</a>
						<a href="#">Settings</a>
					</div>
					<ul class="notification-list connections-requests">
						<li>
							<div class="author-thumb">
								<img src="/img/avatar55-sm.jpg" alt="author">
							</div>
							<div class="notification-event">
								<a href="#" class="h6 notification-connection">Leandra Miller</a>
								<span class="chat-message-item">Mutual Connection: Kelsey Gilstrap.</span>
							</div>
							<span class="notification-icon">
										<a href="#" class="accept-request">
											<span class="icon-add without-text">
												<svg class="etsk-happy-face-icon"><use xlink:href="/icons/icons.svg#etsk-happy-face-icon"></use></svg>
											</span>
							</a>

							<a href="#" class="accept-request request-del">
								<span class="icon-minus">
												<svg class="etsk-happy-face-icon"><use xlink:href="/icons/icons.svg#etsk-happy-face-icon"></use></svg>
											</span>
							</a>

							</span>

							<div class="more">
								<svg class="etsk-three-dots-icon"><use xlink:href="/icons/icons.svg#etsk-three-dots-icon"></use></svg>
							</div>
						</li>
						<li>
							<div class="author-thumb">
								<img src="/img/avatar56-sm.jpg" alt="author">
							</div>
							<div class="notification-event">
								<a href="#" class="h6 notification-connection">Matt Deitz</a>
								<span class="chat-message-item">4 Connections in common.</span>
							</div>
							<span class="notification-icon">
										<a href="#" class="accept-request">
											<span class="icon-add without-text">
												<svg class="etsk-happy-face-icon"><use xlink:href="/icons/icons.svg#etsk-happy-face-icon"></use></svg>
											</span>
							</a>

							<a href="#" class="accept-request request-del">
								<span class="icon-minus">
												<svg class="etsk-happy-face-icon"><use xlink:href="/icons/icons.svg#etsk-happy-face-icon"></use></svg>
											</span>
							</a>

							</span>

							<div class="more">
								<svg class="etsk-three-dots-icon"><use xlink:href="/icons/icons.svg#etsk-three-dots-icon"></use></svg>
							</div>
						</li>
						<li class="accepted">
							<div class="author-thumb">
								<img src="/img/avatar57-sm.jpg" alt="author">
							</div>
							<div class="notification-event">
								You and <a href="#" class="h6 notification-connection">Brooke Anderson</a> just connected. Write on <a href="#" class="notification-link">her wall</a>.
							</div>
							<span class="notification-icon">
										<svg class="etsk-happy-face-icon"><use xlink:href="/icons/icons.svg#etsk-happy-face-icon"></use></svg>
									</span>

							<div class="more">
								<svg class="etsk-three-dots-icon"><use xlink:href="/icons/icons.svg#etsk-three-dots-icon"></use></svg>
								<svg class="etsk-little-delete"><use xlink:href="/icons/icons.svg#etsk-little-delete"></use></svg>
							</div>
						</li>
						<li>
							<div class="author-thumb">
								<img src="/img/avatar58-sm.jpg" alt="author">
							</div>
							<div class="notification-event">
								<a href="#" class="h6 notification-connection">Beau Fatuji</a>
								<span class="chat-message-item">9 Connections in common.</span>
							</div>
							<span class="notification-icon">
										<a href="#" class="accept-request">
											<span class="icon-add without-text">
												<svg class="etsk-happy-face-icon"><use xlink:href="/icons/icons.svg#etsk-happy-face-icon"></use></svg>
											</span>
							</a>

							<a href="#" class="accept-request request-del">
								<span class="icon-minus">
												<svg class="etsk-happy-face-icon"><use xlink:href="/icons/icons.svg#etsk-happy-face-icon"></use></svg>
											</span>
							</a>

							</span>

							<div class="more">
								<svg class="etsk-three-dots-icon"><use xlink:href="/icons/icons.svg#etsk-three-dots-icon"></use></svg>
							</div>
						</li>
					</ul>
					<a href="#" class="view-all bg-blue">Check all your Events</a>
				</div>

			</div>

			<div class="tab-pane " id="chat" role="tabpanel">

				<div class="mCustomScrollbar" data-mcs-theme="dark">
					<div class="ui-block-title ui-block-title-small">
						<h6 class="title">Chat / Messages</h6>
						<a href="#">Mark all as read</a>
						<a href="#">Settings</a>
					</div>

					<ul class="notification-list chat-message">
						<li class="message-unread">
							<div class="author-thumb">
								<img src="/img/avatar59-sm.jpg" alt="author">
							</div>
							<div class="notification-event">
								<a href="#" class="h6 notification-connection">Lexi Descrybe</a>
								<span class="chat-message-item">David Scott It’s Lexi, I just wanted to let you know that we have to reschedule...</span>
								<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">4 hours ago</time></span>
							</div>
							<span class="notification-icon">
										<svg class="etsk-chat---messages-icon"><use xlink:href="/icons/icons.svg#etsk-chat---messages-icon"></use></svg>
									</span>
							<div class="more">
								<svg class="etsk-three-dots-icon"><use xlink:href="/icons/icons.svg#etsk-three-dots-icon"></use></svg>
							</div>
						</li>

						<li>
							<div class="author-thumb">
								<img src="/img/avatar60-sm.jpg" alt="author">
							</div>
							<div class="notification-event">
								<a href="#" class="h6 notification-connection">Bruce Mills</a>
								<span class="chat-message-item">Great, I’ll see you tomorrow!.</span>
								<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">4 hours ago</time></span>
							</div>
							<span class="notification-icon">
										<svg class="etsk-chat---messages-icon"><use xlink:href="/icons/icons.svg#etsk-chat---messages-icon"></use></svg>
									</span>

							<div class="more">
								<svg class="etsk-three-dots-icon"><use xlink:href="/icons/icons.svg#etsk-three-dots-icon"></use></svg>
							</div>
						</li>
						<li>
							<div class="author-thumb">
								<img src="/img/avatar61-sm.jpg" alt="author">
							</div>
							<div class="notification-event">
								<a href="#" class="h6 notification-connection">Melony Oter</a>
								<span class="chat-message-item">We’ll have to check that at the office and see if the client is on board with...</span>
								<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 9:56pm</time></span>
							</div>
							<span class="notification-icon">
											<svg class="etsk-chat---messages-icon"><use xlink:href="/icons/icons.svg#etsk-chat---messages-icon"></use></svg>
										</span>
							<div class="more">
								<svg class="etsk-three-dots-icon"><use xlink:href="/icons/icons.svg#etsk-three-dots-icon"></use></svg>
							</div>
						</li>

						<li class="chat-group">
							<div class="author-thumb">
								<img src="/img/avatar11-sm.jpg" alt="author">
								<img src="/img/avatar12-sm.jpg" alt="author">
								<img src="/img/avatar13-sm.jpg" alt="author">
								<img src="/img/avatar10-sm.jpg" alt="author">
							</div>
							<div class="notification-event">
								<a href="#" class="h6 notification-connection">You, Faye, Ed &amp; Jet +3</a>
								<span class="last-message-author">Ed:</span>
								<span class="chat-message-item">Yeah! Seems fine by me!</span>
								<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">March 16th at 10:23am</time></span>
							</div>
							<span class="notification-icon">
											<svg class="etsk-chat---messages-icon"><use xlink:href="/icons/icons.svg#etsk-chat---messages-icon"></use></svg>
										</span>
							<div class="more">
								<svg class="etsk-three-dots-icon"><use xlink:href="/icons/icons.svg#etsk-three-dots-icon"></use></svg>
							</div>
						</li>
					</ul>

					<a href="#" class="view-all bg-purple">View All Messages</a>
				</div>

			</div>

			<div class="tab-pane " id="notification" role="tabpanel">

				<div class="mCustomScrollbar" data-mcs-theme="dark">
					<div class="ui-block-title ui-block-title-small">
						<h6 class="title">Notifications</h6>
						<a href="#">Mark all as read</a>
						<a href="#">Settings</a>
					</div>

					<ul class="notification-list">
						<li>
							<div class="author-thumb">
								<img src="/img/avatar62-sm.jpg" alt="author">
							</div>
							<div class="notification-event">
								<div><a href="#" class="h6 notification-connection">Sarah Johnson</a> commented on your new <a href="#" class="notification-link">profile status</a>.</div>
								<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">4 hours ago</time></span>
							</div>
							<span class="notification-icon">
											<svg class="etsk-comments-post-icon"><use xlink:href="/icons/icons.svg#etsk-comments-post-icon"></use></svg>
										</span>

							<div class="more">
								<svg class="etsk-three-dots-icon"><use xlink:href="/icons/icons.svg#etsk-three-dots-icon"></use></svg>
								<svg class="etsk-little-delete"><use xlink:href="/icons/icons.svg#etsk-little-delete"></use></svg>
							</div>
						</li>

						<li class="un-read">
							<div class="author-thumb">
								<img src="/img/avatar50-sm.jpg" alt="author">
							</div>
							<div class="notification-event">
								<div>You and <a href="#" class="h6 notification-connection">Liam Koch</a> just connected. Write on <a href="#" class="notification-link">his wall</a>.</div>
								<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">9 hours ago</time></span>
							</div>
							<span class="notification-icon">
											<svg class="etsk-happy-face-icon"><use xlink:href="/icons/icons.svg#etsk-happy-face-icon"></use></svg>
										</span>

							<div class="more">
								<svg class="etsk-three-dots-icon"><use xlink:href="/icons/icons.svg#etsk-three-dots-icon"></use></svg>
								<svg class="etsk-little-delete"><use xlink:href="/icons/icons.svg#etsk-little-delete"></use></svg>
							</div>
						</li>

						<li class="with-comment-photo">
							<div class="author-thumb">
								<img src="/img/avatar64-sm.jpg" alt="author">
							</div>
							<div class="notification-event">
								<div><a href="#" class="h6 notification-connection">Kelsey Gilstrap</a> commented on your <a href="#" class="notification-link">photo</a>.</div>
								<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 5:32am</time></span>
							</div>
							<span class="notification-icon">
											<svg class="etsk-comments-post-icon"><use xlink:href="/icons/icons.svg#etsk-comments-post-icon"></use></svg>
										</span>

							<div class="comment-photo">
								<img src="/img/comment-photo1.jpg" alt="photo">
								<span>“Such a lovely picture! I can't wait to see you...”</span>
							</div>

							<div class="more">
								<svg class="etsk-three-dots-icon"><use xlink:href="/icons/icons.svg#etsk-three-dots-icon"></use></svg>
								<svg class="etsk-little-delete"><use xlink:href="/icons/icons.svg#etsk-little-delete"></use></svg>
							</div>
						</li>

						<li>
							<div class="author-thumb">
								<img src="/img/avatar65-sm.jpg" alt="author">
							</div>
							<div class="notification-event">
								<div><a href="#" class="h6 notification-connection">Tom Smith</a> invited you to attend to his event Goo in <a href="#" class="notification-link">Gotham Bar</a>.</div>
								<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">March 5th at 6:43pm</time></span>
							</div>
							<span class="notification-icon">
											<svg class="etsk-happy-face-icon"><use xlink:href="/icons/icons.svg#etsk-happy-face-icon"></use></svg>
										</span>

							<div class="more">
								<svg class="etsk-three-dots-icon"><use xlink:href="/icons/icons.svg#etsk-three-dots-icon"></use></svg>
								<svg class="etsk-little-delete"><use xlink:href="/icons/icons.svg#etsk-little-delete"></use></svg>
							</div>
						</li>

						<li>
							<div class="author-thumb">
								<img src="/img/avatar66-sm.jpg" alt="author">
							</div>
							<div class="notification-event">
								<div><a href="#" class="h6 notification-connection">James Summers</a> commented on your new <a href="#" class="notification-link">profile status</a>.</div>
								<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">March 2nd at 8:29pm</time></span>
							</div>
							<span class="notification-icon">
											<svg class="etsk-heart-icon"><use xlink:href="/icons/icons.svg#etsk-heart-icon"></use></svg>
										</span>

							<div class="more">
								<svg class="etsk-three-dots-icon"><use xlink:href="/icons/icons.svg#etsk-three-dots-icon"></use></svg>
								<svg class="etsk-little-delete"><use xlink:href="/icons/icons.svg#etsk-little-delete"></use></svg>
							</div>
						</li>
					</ul>

					<a href="#" class="view-all bg-primary">View All Notifications</a>
				</div>

			</div>

			<div class="tab-pane " id="search" role="tabpanel">


				<form class="search-bar w-search notification-list connections-requests">
					<div class="form-group with-button">
						<input class="form-control js-user-search" placeholder="Search here people or pages..." type="text">
					</div>
				</form>


			</div>

		</div>

		<!-- ... end  Tab panes -->

	</header>

	<!-- ... end Responsive Header -->

